<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Lista de Produtos</h4>
  </div>

  <div class="panel-body">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="form-horizontal">

      <div class="form-group" [ngClass]="aplicaCssErro(descricao)">
        <div class="col-sm-12">
          <label for="descricao" class="control-label">Descrição</label>
        </div>

        <div class="col-sm-12">
          <input type="text" id="descricao" class="form-control" placeholder="Descrição" name="descricao"
          [(ngModel)]="produto.descricao" required #descricao="ngModel">
          
          <app-campo-control-erro [mostrarErro]="verificaValidTouched(descricao)" msgErro="Descrição é um campo obrigatório.">
          </app-campo-control-erro>
        </div>
      </div>

      <div class="form-group" [ngClass]="aplicaCssErro(valor)">
        <div class="col-sm-12">
          <label for="valor" class="control-label">Valor</label>
        </div>

        <div class="col-sm-12">
          <input type="number" id="valor" class="form-control" placeholder="Valor" name="valor"
          [(ngModel)]="produto.valor" required #valor="ngModel">
          
          <app-campo-control-erro [mostrarErro]="verificaValidTouched(valor)" msgErro="Valor é um campo obrigatório.">
          </app-campo-control-erro>
        </div>
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Submit</button>

      <app-form-debug [form]="f"></app-form-debug>

    </form>
  </div>

</div>